* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   border: 0;
   font-family: "Ubuntu", sans-serif;
}

body {
   background: #f7ede2;
   display: flex;
   flex-direction: column;
   padding: 56px 64px;
   gap: 32px;
}

div {
   padding: 32px 48px;
   gap: 32px;
}

div h1 {
   font-size: 38px;
   color: #2d2d2d;
   font-weight: 500;
}

div p {
   font-size: 24px;
   color: #2d2d2d;
   font-weight: 400;
}

h2 {
   font-size: 24px;
   color: #2d2d2d;
   font-weight: 400;
}

aside {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 56px;
}

.sectionCard {
   background: #f5cac3;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 350px;
}

section {
   display: flex;
   gap: 48px;
   /* height: 100%; */
}

.aboutSection {
   width: 100%;
   background: #f5cac3;
}
